@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base theme */
body {
  background: radial-gradient(circle at top, #0f172a, #000000);
  min-height: 100vh;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 999px;
}
